a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article {
  display: block; }

aside {
  display: block; }

blockquote {
  quotes: none; }
  blockquote:after {
    content: '';
    content: none; }
  blockquote:before {
    content: '';
    content: none; }

details {
  display: block; }

figcaption {
  display: block; }

figure {
  display: block; }

footer {
  display: block;
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em; }

h1 {
  font-family: Times New Roman, Times, serif;
  font-size: 4rem;
  text-align: center; }

header {
  display: block;
  text-align: center; }

hgroup {
  display: block; }

menu {
  display: block; }

nav {
  display: block; }
  nav li a {
    list-style: none;
    width: 100%;
    display: block;
    text-decoration: none;
    background-color: #ffffff;
    margin: 0;
    padding: 3rem;
    text-align: center;
    color: #373737; }
  nav li :hover {
    color: #b46161; }
  nav ul li {
    display: inline; }

ol {
  list-style: none; }

p {
  color: #373737;
  text-align: center; }

q {
  quotes: none; }
  q:after {
    content: '';
    content: none; }
  q:before {
    content: '';
    content: none; }

section {
  display: block; }

ul {
  list-style: none; }
/* Overall Site */
* {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f7f7f7; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }
/* Images */
.logo {
  padding: 0;
  width: 8rem;
  background-color: #f7f7f7; }

.container {
  justify-content: center;
  border: 1px;
  padding: 1rem;
  padding-left: 4rem; }
  .container img {
    width: 100%;
    height: auto;
    border: 1px;
    padding: 1rem;
    float: left; }
    /* Content */
  .container p {
    border: 1px;
    padding: 1rem; }

.about {
  position: relative;
  width: calc(75%);
  float: left; }
/* Nav Bar */
.nav-links {
  text-align: center;
  background-color: #ffffff; }
/* Footer */
.trade-mark {
  text-align: center;
  background-color: #ffffff; }

@media screen and (min-width: 35rem) {
  /* Images */
  .logo {
    width: 6rem;
    background-color: #f7f7f7; }
  .container {
    justify-content: center;
    border: 1px;
    padding: 1rem; }
    .container img {
      width: 100%;
      height: auto;
      border: 1px;
      padding: 1rem;
      float: left;
      background-color: #f7f7f7; }
      /* Content */
    .container p {
      border: 1px;
      padding: 1rem; }
  .about {
    position: relative;
    width: calc(50%);
    float: left; }
    /* Nav Bar */
  nav li a {
    width: calc(20%);
    float: left; } }
