* {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f7f7f7;
  font-family: Rock Salt, cursive; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

h1 {
  text-align: center; }

p {
  font-size: 3rem;
  color: #373737;
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif; }

header {
  text-align: center; }

nav li a {
  font-family: sans-serif, cursive;
  list-style: none;
  width: 100%;
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  margin: 0;
  padding: 3rem;
  text-align: center;
  color: #373737; }
  nav li a .logo {
    height: 3rem;
    border: 0;
    margin: 0;
    padding: 0; }

nav li :hover {
  color: #838c33; }

nav ul li {
  display: inline; }

.container {
  justify-content: center;
  border: 1px;
  padding: 1rem;
  font-family: Bellefair, serif;
  padding-left: 5rem; }
  .container img {
    width: 100%;
    height: auto;
    border: 1px;
    padding: 1rem;
    float: left; }
  .container p {
    border: 1px;
    padding: 1rem; }

.about {
  position: relative;
  width: calc(75%);
  float: left; }

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em; }

.nav-links {
  text-align: center;
  background-color: #ffffff; }

.trade-mark {
  text-align: center;
  background-color: #ffffff; }

@media screen and (min-width: 35rem) {
  .logo {
    width: 4rem; }
  .container {
    justify-content: center;
    border: 1px;
    padding: 1rem;
    font-family: Bellefair, serif; }
    .container img {
      width: 100%;
      height: auto;
      border: 1px;
      padding: 1rem;
      float: left; }
    .container p {
      border: 1px;
      padding: 1rem; }
  .about {
    position: relative;
    width: calc(50%);
    float: left; }
  figure {
    position: relative;
    width: calc(50%);
    float: left;
    font-family: Bellefair, serif; }
  nav li a {
    width: calc(20%);
    float: left;
    font-family: Bellefair, serif; } }
