a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article {
  display: block; }

aside {
  display: block; }

blockquote {
  quotes: none; }
  blockquote:after {
    content: '';
    content: none; }
  blockquote:before {
    content: '';
    content: none; }

body {
  height: 100%; }

details {
  display: block; }

figcaption {
  display: block; }

figure {
  display: block; }

footer {
  display: block;
  clear: both;
  position: relative;
  z-index: 10; }

h1 {
  font-family: Times New Roman, Times, serif;
  font-size: 4rem;
  text-align: center; }

header {
  display: block;
  text-align: center; }

hgroup {
  display: block; }

img {
  background-color: #ffffff;
  padding: 0.5rem;
  resize: both; }

menu {
  display: block; }

nav {
  display: block; }
  nav li a {
    list-style: none;
    width: 100%;
    display: block;
    text-decoration: none;
    background-color: #ffffff;
    margin: 0;
    padding: 3rem;
    text-align: center;
    color: #373737; }
  nav li :hover {
    color: #b46161; }
  nav ul li {
    display: inline; }

ol {
  list-style: none; }
<<<<<<< HEAD

p {
  color: #373737;
  text-align: center; }

q {
  quotes: none; }
  q:after {
    content: '';
    content: none; }
  q:before {
    content: '';
    content: none; }

section {
  display: block; }

ul {
  list-style: none; }
/* Overall site */
* {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f7f7f7; }

=======

p {
  color: #373737;
  text-align: center; }

q {
  quotes: none; }
  q:after {
    content: '';
    content: none; }
  q:before {
    content: '';
    content: none; }

section {
  display: block; }

ul {
  list-style: none; }

* {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f7f7f7; }

>>>>>>> 073dc8de9bc2c82f013a0bc133e1f71cabe4feef
.clearfix::after {
  content: "";
  display: block;
  clear: both; }
<<<<<<< HEAD
/* Images */
=======

>>>>>>> 073dc8de9bc2c82f013a0bc133e1f71cabe4feef
.logo {
  clear: both;
  padding: 0;
  width: 8rem; }

.image {
  width: 20rem;
  position: relative;
  display: center;
  border: 2rem;
  margin-right: 1rem;
  margin-left: 1rem; }

.image-2 {
  width: 16rem;
  position: relative;
  display: center;
  border: 1rem;
  margin-right: 1rem;
  margin-left: 1rem; }

.image-3 {
  width: 28rem;
  position: relative;
  display: center;
  border: 1rem;
  margin-right: 1rem;
  margin-left: 1rem; }
<<<<<<< HEAD
/* Content */
=======

>>>>>>> 073dc8de9bc2c82f013a0bc133e1f71cabe4feef
.container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem; }
<<<<<<< HEAD
/* Nav Bar */
=======

>>>>>>> 073dc8de9bc2c82f013a0bc133e1f71cabe4feef
.nav-links {
  margin-top: 5rem;
  text-align: center;
  background-color: #ffffff; }
<<<<<<< HEAD
/* Footer */
.trade-mark {
  text-align: center;
  background-color: #ffffff; }
/* Content */
=======

.trade-mark {
  text-align: center;
  background-color: #ffffff; }

>>>>>>> 073dc8de9bc2c82f013a0bc133e1f71cabe4feef
.col {
  float: left; }

@media screen and (min-width: 35rem) {
<<<<<<< HEAD
    /* Images */
  .logo {
    width: 6rem;
    background-color: #ffffff; }
    /* Content */
=======
  .logo {
    width: 6rem;
    background-color: #ffffff; }
>>>>>>> 073dc8de9bc2c82f013a0bc133e1f71cabe4feef
  figure {
    position: relative;
    width: calc(33.33%);
    float: left; }
<<<<<<< HEAD
    /*Nav bar */
=======
>>>>>>> 073dc8de9bc2c82f013a0bc133e1f71cabe4feef
  nav li a {
    width: calc(20%);
    float: left; } }
