//colors
$color_royal_purple_approx: rgb(122, 51, 140);
$color_black_haze_approx: #f7f7f7;
$color_tuatara_approx: #373737;
$white: #ffffff;
$color_matrix_approx: #b46161;

//fonts
$font_0: Bellefair;
$font_1: serif;
$font_2: Rock Salt;
$font_3: cursive;
$font_4: Franklin Gothic Medium;
$font_5: Arial Narrow;
$font_6: Arial;
$font_7: sans-serif;
$font_8: Handlee;


* {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: $color_black_haze_approx;
  font-family: $font_2, $font_3;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  text-align: center;
}

p {
  font-size: 3rem;
  color: $color_tuatara_approx;
  font-family: $font_4, $font_5, $font_6, $font_7;
}

header {
  text-align: center;
}

nav {
  li {
    a {
      font-family: $font_7, $font_3;
      list-style: none;
      width: 100%;
      display: block;
      text-decoration: none;
      background-color: $white;
      margin: 0;
      padding: 3rem;
      text-align: center;
      color: $color_tuatara_approx;

      .logo {
        height: 3rem;
        border: 0;
        margin: 0;
        padding: 0;
      }
    }

    :hover {
      color: $color_matrix_approx;
    }
  }

  ul li {
    display: inline;
  }
}

.container {
  justify-content: center;
  border: 1px;
  padding: 1rem;
  font-family: $font_0, $font_1;
  padding-left: 5rem;

  img {
    width: 100%;
    height: auto;
    border: 1px;
    padding: 1rem;
    float: left;
  }

  p {
    border: 1px;
    padding: 1rem;
  }
}

.about {
  position: relative;
  width: calc(75%);
  float: left;
}

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}

.nav-links {
  text-align: center;
  background-color: $white;
}

.trade-mark {
  text-align: center;
  background-color: $white;
}

@media screen and(min-width:35rem) {
  .logo {
    width: 4rem;
  }

  .container {
    justify-content: center;
    border: 1px;
    padding: 1rem;
    font-family: $font_0, $font_1;

    img {
      width: 100%;
      height: auto;
      border: 1px;
      padding: 1rem;
      float: left;
    }

    p {
      border: 1px;
      padding: 1rem;
    }
  }

  .about {
    position: relative;
    width: calc(50%);
    float: left;
  }

  figure {
    position: relative;
    width: calc(50%);
    float: left;
    font-family: $font_0, $font_1;
  }

  nav li a {
    width: calc(20%);
    float: left;
    font-family: $font_0, $font_1;
  }
}